* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
  }



#network-overlay {
    display: none;
    position: relative;
    top: 10%;
    background: #1c1c1dcc;
    color: #ffffff;
    width: 200px;
    height: 200px;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    border-radius: 4px;
}

.netork-button {
    position: relative;
    margin: 5px;
}

#close-connection {
    display: none;
}

#enter-matchmaking {
    display: none;
}

#exit-matchmaking {
    display: none;
}

#exit-online-match {
    display: none;
}